@import '_variables.css';

*{
    p{
        font-size: var(--tinyText);
    }
}

body{
    main{
        margin: 0;
        section{
            margin: var(--marginSmall) var(--marginSmall) 0 var(--marginSmall);
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
            header{
                margin-top: var(--marginProjectsMobile);
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.8s ease-out, transform 0.8s ease-out;
                h4{
                    font-size: var(--tinyText);
                    margin-top: var(--marginTiny);
                }
                h1{
                    font-size: var(--headerMobile);
                    text-align: left;
                    line-height: 30px;
                    margin-top: 0;
                }
                h3{
                    font-size: var(--headerMobile);
                    font-style: italic;
                    text-align: right;
                    z-index: 100;
                }
            }
            .animate-header.slide-up {
                opacity: 1;
                transform: translateY(0);
            }   
        } 
        section.visible{
            opacity: 1;
            transform: translateY(0);
        
        }
        .img-collection{
            img{
                width: 100%;
                margin-bottom: var(--marginTiny);
            }
        }
        .mobile-hide{display: none;}
        .project-info{
            img{ width: 100%;}
            margin-bottom: var(--marginTiny);
            .brand-bio-text{
                padding-bottom: var(--paddingMobileMain);
                li{ font-size: var(--tinyText);}
                .offerings{
                    margin-top: var(--marginSmall);
                }
            }
            .amentes-highlights{
                padding-bottom: var(--paddingMobileMain);
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0 var(--marginSmall) var(--marginSmall);
                .amentes-highlights-text{
                    p{color: var(--highlight-color);}
                    .highlight-big{
                        font-size: var(--nav-link-mobile);
                        margin-bottom: 0;
                    }
                }
            }
            .brand-bio-text-full{
                .photo-wrapper{
                    display: block;
                }
                .marketing-steps, .marketing-steps-full{
                    .step-header{
                        font-weight: 900;
                    }
                }
                .marketing-steps{
                    display: flex;
                    flex-direction: column;
                }
            }
            
            .so-me{
                h1{
                    color: var(--bg-color);
                }
                p{font-size: var(--tinyText); color: var(--bg-color);}
                .insta-link{
                    display: block;
                    text-decoration: none;
                    color: var(--bg-color);
                    border: 1px solid var(--bg-color);
                    width: 40%;
                    text-align: center;
                    padding: 5px;
                    font-size: var(--subText);
                    h3{margin: 0; color: var(--bg-color);}
        
                }
                .insta-link:hover{
                    width: 50%;
                    transition: 0.2s ease-in-out;
                    background-color: var(--main-text-color);
                    color: var(--bg-color);
                }
            }
        }
        .pi-1{
            background-color: var(--accent-color);
            margin: 0;
            padding: var(--marginSmall);
        }
    }
    @media (min-width:1024px){
        header{
            nav{
                .home-logo-mobile{display: none;}
            }
        }
        main{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            section{
                width: 100%;
                header{
                    margin-top: var(--marginProjectsDesk);
                    margin: 0 var(--margin);
                    h1{
                        font-size: var(--headerProject);
                    }
                    h3{
                        font-size: var(--header);
                    }
                }
            }
            .project-header{
                margin: 0;
            }
            .img-collection{
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0 var(--paddingDeskMain);
                .mobile-hide{display: block;}
                .desk-hide{display: none;}
            }
            .project-info{
                margin: 0 var(--paddingDeskMain) var(--paddingMobileMain) var(--paddingDeskMain);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .brand-bio-text{
                    width: 48%;
                }
                .brand-bio-text-full{
                    .photo-wrapper{
                        display: flex;
                        flex-direction: row;
                    }
                    .marketing-steps{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 3rem;
                        padding: 0 var(--paddingMobileMain);
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: var(--paddingTiny);
                    }
                    .marketing-steps.reversed .step-img{
                        grid-column: 1;
                        grid-row: 1;
                    }
                    .marketing-steps.reversed .step-info{
                        grid-column: 2;
                        grid-row: 1;
                    }
                    .marketing-steps-full{
                        padding: 0 var(--paddingMobileMain);
                        padding-bottom: var(--paddingTiny);
                    }
                }
                .amentes-highlights{
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    font-style: oblique;
                }
            }
            .project-info.top{
                display: flex;
                align-items: flex-start;
            }
            .pi-1{
                margin: 0;
                img{
                    width: 50%;
                }
                .so-me{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                }
            }

        }
    }
}