@import '_variables.css';

*{
    p{
        font-size: var(--tinyText);
    }
}

body{
    main{
        section{
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
            header{
                margin-top: var(--marginProjectsMobile);
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.8s ease-out, transform 0.8s ease-out;
                h4{
                    font-size: var(--tinyText);
                    margin-top: var(--marginTiny);
                }
                h1{
                    font-size: var(--headerMobile);
                    text-align: left;
                    line-height: 30px;
                    margin-top: 0;
                }
                h3{
                    font-size: var(--headerMobile);
                    font-style: italic;
                    text-align: right;
                    z-index: 100;
                }
            }
            .animate-header.slide-up {
                opacity: 1;
                transform: translateY(0);
            }   
        }
        .project-info{
            .project-quote{
                font-style: italic;
                padding: var(--paddingMobileTiny);
            } 
            img{
                width: 100%;
                z-index: 0;
            }
            .brand-bio-text{
                padding: var(--paddingMobileTiny) 0;
            }
        }
        section.visible{
            opacity: 1;
            transform: translateY(0);
        
        }
        .v-collage{
            display: none;
        }
    }
    @media (min-width: 1024px){
        header{
            nav{
                .home-logo-mobile{display: none;}
            }
        }
        main{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100%;
            section{
                width: 100%;
                header{
                    margin-top: var(--marginProjectsDesk);
                    margin: 0 var(--margin);
                    h1{
                        font-size: var(--headerProject);
                    }
                    h3{
                        font-size: var(--header);
                    }
                }
            }
            .project-info{
                margin: 0 var(--margin);
            }
            .pi-1{
                display: flex;
                align-items: center;
                width: 80%;
                img{
                    width: 100%;
                }
                p{
                    font-size: var(--subText);
                    width: 80%;
                    text-align: center;
                }
            }
            .v-collage{
                display: block;
                width: 100%;
                margin-top: var(--margin);
            }
            .projects-container {
                display: flex;
                gap: 2rem; /* Add space between them */
                justify-content: center;
                width: 100%;
                flex-wrap: wrap; /* Allows them to stack on smaller screens */
                margin: var(--margin) 0;
                article{
                    width: 40%;
                    margin: 0;
                    hr{display: none;}
                    h4{
                        font-size: var(--headerMobile);
                    }
                    img{width: 100%;}
                }
            }
        }
    }
}